body {
    background-image: url("nightCafe.jpg");
    background-repeat: no-repeat; 
    background-position-x: right;
    background-position-y: top;
    background-color: #2e417d;
    color: #dba502;
    text-align: left;
    margin: 70px;
}

